{{ define "add" }}
  <form
  hx-on::after-request="document.querySelector('form').reset()"
  hx-on:click="console.log('new book added', event)"
  hx-post="/books"
  hx-target="main .book-list ul"
  hx-swap="beforeend"
  >
    <div class="form-group">
      <label for="title">Title: </label>
      <input type="text" name="title" id="title" required>
    </div>

    <div class="form-group">
      <label for="author">Author: </label>
      <input type="text" name="author" id="author" required>
    </div>
    <button type="submit">Add Book</button>
  </form>
{{ end }}